html {
    background: url(kevun0.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#kevun {
    position: absolute;
    text-shadow: 0 -1px 1px #696969;
    right: 10%;
    bottom: 5%;
    font-size: 100px;
    color: white;
    font-family: Sans-Serif;
    cursor: pointer;

}
